<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %> <!-- Display errors if available -->
  <form action="/create" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" required>
    <label for="age">Age: </label>
    <input type="text" name="age" id="age" required>
    <label for="bio">Bio (optional): </label>
    <input type="text" name="bio" id="bio">
    <button type="submit">Submit</button>
  </form>
  <form action="/search" method="GET">
    <h3>Search for a specific user:</h3>
    <label for="getFirstName">First name:</label>
    <input type="text" name="getFirstName" id="getFirstName" required>
    <label for="getLastName">Last name:</label>
    <input type="text" name="getLastName" id="getLastName" required>
    <label for="getEmail">Email:</label>
    <input type="text" name="getEmail" id="getEmail" required>
    <button type="submit">Search!</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
